<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODO CATEGORIES</h1>
        <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat sunt voluptatem minus distinctio in a neque quaerat praesentium</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Add new Categories here" name="categoryName"
                class="form-control-plaintext">
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block">Add</button>
        </form>
    </div>
</div>