<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODO CATEGORIES</h1>
        <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat sunt voluptatem minus distinctio in a neque quaerat praesentium</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Add new Categories here" name="categoryName" class="form-control-plaintext">
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">Add</button>
        </form>
    </div>
</div>

<div class="row categories-list">
    <div class="col-md-3">
        <div class="card drop-shadow">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <div class="badge badge-primary"> CATEGORY</div>
                    </div>
                    <div class="float-right cat-tools">
                        <small><i class="fa fa-pencil-alt text-success"></i></small>
                        <small><i class="fa fa-trash text-danger"></i></small>
                    </div>
                </div>

                <div class="todo-content">
                    <h3>Category</h3>
                    <small class="text-seconday">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small>
                </div>
                <span class="badge badge-danger">
                    3-todos
                </span>


            </div>
        </div>
    </div>
</div>