footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    
   
    -webkit-box-shadow: 10px 10px 35px 10px rgba(71,114,254,0.3);
-moz-box-shadow: 10px 10px 35px 10px rgba(71,114,254,0.3);
box-shadow: 10px 10px 35px 10px rgba(71,114,254,0.3);
}

h6{
    align-items: center;
    justify-content: center;
}