.drop-shadow{
    -webkit-box-shadow: 10px 10px 35px 10px rgba(71,114,254,0.3);
    -moz-box-shadow: 10px 10px 35px 10px rgba(71,114,254,0.3);
    box-shadow: 10px 10px 35px 10px rgba(71,114,254,0.3);
}