<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODOS</h1>
        <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat sunt voluptatem minus distinctio in a neque quaerat praesentium</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Add new Todos here" name="todText" class="form-control-plaintext">
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">Add</button>
        </form>
    </div>
</div>

<div class="row justify-content-center todo-list">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left text-secondary">
                        <i class="far fa-circle text-danger"></i>
                        <i class="fas fa-check text-success"></i>
                        New Todo
                    </div>

                    <div class="float-right">
                        <i class="far fa-check-circle text-success"></i>
                        <i class="far fa-times-circle text-danger"></i>
                        <div class="todo-tools">
                            <small>
                            <i class="fas fa-pencil-alt text-warning"></i>
                                <i class="fas fa-trash text-danger"></i>
                            </small>
                        </div>    

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>